<div class="min-h-screen px-2 pb-20">
  <div class="flex flex-row items-center sticky top-0 left-0 right-0 bg-white dark:bg-gray-900 z-10 py-2">
    <button
      (click)="location.back()"
      class="my-1 mr-3 flex-none px-2 justify-center py-2 rounded-full font-bold text-lg hover:bg-gray-200 flex items-center focus:outline-none dark:hover:bg-gray-800 dark:text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
      </svg>
    </button>
    <h1 class="font-bold text-xl dark:text-white">Discussion</h1>
  </div>
  <app-story [story]="story"></app-story>
  <div class="p-2">
    <app-comment [level]="0" [commentId]="commentId" *ngFor="let commentId of story.kids"></app-comment>
  </div>
</div>
