<div class="lg:hidden flex fixed self-start top-0 z-30 bg-white dark:bg-gray-900 w-full px-2 items-center">
  <h1 class="dark:text-white text-gray-800 ml-2 text-lg font-semibold">Better Hacker News</h1>
  <button
    (click)="darkMode.toggleDarkMode()"
    class="ml-auto my-3 lg:px-5 justify-center py-2 rounded-full font-bold text-lg hover:bg-gray-200 flex items-center lg:flex focus:outline-none dark:hover:bg-gray-800 dark:text-white">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 outline mx-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
    </svg>
  </button>
</div>

